/* admin/admin.css */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:#0f172a;
color:#fff;
}

#loginPage{
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.loginCard{
width:380px;
background:#1e293b;
padding:30px;
border-radius:20px;
text-align:center;
box-shadow:0 0 30px rgba(0,0,0,.4);
}

.logo{
width:90px;
height:90px;
border-radius:20px;
margin-bottom:15px;
}

.loginCard h2{
margin-bottom:8px;
}

.loginCard p{
color:#94a3b8;
margin-bottom:20px;
}

.loginCard input{
width:100%;
padding:14px;
margin-bottom:15px;
border:none;
outline:none;
border-radius:12px;
background:#334155;
color:#fff;
}

.loginCard button{
width:100%;
padding:14px;
border:none;
border-radius:12px;
background:#7c3aed;
color:#fff;
font-size:16px;
cursor:pointer;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#1e293b;
position:sticky;
top:0;
}

header button{
padding:10px 18px;
background:#ef4444;
border:none;
border-radius:10px;
color:#fff;
cursor:pointer;
}

.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:18px;
text-align:center;
}

.card h2{
font-size:32px;
color:#a855f7;
}

.form{
padding:20px;
}

.form h2{
margin-bottom:15px;
}

.form input{
width:100%;
padding:14px;
margin-bottom:15px;
border:none;
border-radius:12px;
background:#1e293b;
color:#fff;
}

.form button{
width:100%;
padding:15px;
border:none;
border-radius:12px;
background:#7c3aed;
color:#fff;
font-size:16px;
cursor:pointer;
}

#searchSong{
width:100%;
padding:14px;
margin:20px 0;
border:none;
border-radius:12px;
background:#1e293b;
color:#fff;
}

#songList{
padding:20px;
display:flex;
flex-direction:column;
gap:15px;
}

.song{
display:flex;
align-items:center;
background:#1e293b;
padding:15px;
border-radius:15px;
gap:15px;
}

.song img{
width:65px;
height:65px;
border-radius:12px;
object-fit:cover;
}

.songInfo{
flex:1;
}

.songInfo h3{
font-size:17px;
}

.songInfo p{
margin-top:5px;
color:#94a3b8;
}

.song button{
margin-left:8px;
padding:10px 14px;
border:none;
border-radius:10px;
cursor:pointer;
}

.editBtn{
background:#0ea5e9;
color:#fff;
}

.deleteBtn{
background:#ef4444;
color:#fff;
}

@media(max-width:768px){

.loginCard{
width:92%;
}

.song{
flex-direction:column;
align-items:flex-start;
}

.song img{
width:100%;
height:180px;
}

.song button{
width:100%;
margin:5px 0;
}

}
